
<div class="h-screen w-screen p-8 bg-gray-100">
  <div class="bg-white p-10 rounded-2xl shadow-xl grid grid-cols-2">
    <div class="pr-8 border-r-2 border-gray-200">
      <h2 class="text-3xl font-bold mt-4">Coffee Mug</h2>
      <p class="text-gray-400">Mug / 123</p>
      <p class="text-sm text-gray-500 mt-4">Mug set of 6 made using 24K gold on highly translucent, pure white porcelain. High glazing quality ensures
        lifelong shine, smoothness and resistance to cutlery marks. This mug set is lead-free, cadmium-free, food-grade,
        and has superior chip and breakage-resistance.This dinnerware is dishwasher, fridge, freezer and convection oven
        safe and does not require any extensive care. Avoid severe & sudden temperature changes, or using lemon based
        detergents.</p>
      <button class="mt-8 w-full shadow-2xl p-4 text-gray-100 bg-black rounded-md">
        Add to cart
      </button>
    </div>
    <div class="h-[300px]">
      <ngt-canvas [sceneGraph]="sceneGraph" [camera]="{zoom: 3, position:[4,2,1]}"/>
    </div>
  </div>
</div>